@model GMTK_Capstone.ViewModels.LandlordRenterViewModel

@{
    ViewData["Title"] = "MarketListings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="text-center">
    <h1>My Properties</h1>
    <div>
        <hr />
        <div class="row flex-lg-wrap">
            @foreach (var item in Model.Listings)
            {
                <div class="col-md-3" style="padding-top:2%; color:#121013;">
                    <h4>@item.ListingName</h4>
                    <div class="flex">
                        <div class="px-3">
                            <div style="background-color:#f7f6e7;" class="shadow-xl rounded-lg overflow-hidden">
                                <div class="p-4">
                                    <div class="flex justify-content-center">
                                        <a asp-action="Edit" asp-route-id="@item.ListingId"><img class="card" style="max-height:100%; cursor:pointer; max-width:100%;" src="~/images/@item.ListingMainPhoto" /></a>
                                    </div>
                                </div>
                                <div>
                                    <ul style="text-align:left;">
                                        <li>Type: @item.HomeType</li>
                                        <li>Area: @item.SqareFootage sqft</li>
                                        <li>Rent: $@item.PricePoint</li>
                                        <li>Bathrooms: @item.Baths</li>
                                        <li>Bedrooms: @item.Beds</li>
                                    </ul>
                                </div>
                                @*<div class="px-4 pt-3 pb-4 ">
                                    <div style="text-decoration:underline; border-top:solid;border-top-color:antiquewhite;">Realtor</div>
                                    <div class="flex items-center pt-2">
                                        <div>
                                            <p>@item.Landlord.FirstName @item.Landlord.LastName <br />@item.Landlord.PhoneNumber</p>

                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            @if (item.IsRented == false)
                            {
                                <p style="color:red; font-size:small;"><a asp-action="HasApplied" asp-route-id="@Model.Renter.RenterId">Send Application</a> | ON THE MARKET</p>
                            }
                            else
                            {
                                <p style="color:green; font-size:small;">OCCUPIED</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        @Html.ActionLink("MyProfile", "Index") |
        <a asp-action="MarketListings">Back</a>
    </div>
</body>
