@model GMTK_Capstone.ViewModels.ListingAddressSerialized

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="text-center">
    <div class="row" style="padding-bottom:5%;">
        <div class="col-md-4" style="padding:5%; margin: .5em auto; font-family:'Trirong'; font-size:xx-large; text-shadow: 2px 2px 4px #000000;">
                <h3 style="padding-top:8%;">@Model.FirstName</h3>
                <h3 style="padding-top:2%; padding-left:25%;">@Model.LastName</h3>
        </div>
        <div class="col-md-4" style="padding:5%;">
            <img class="card-img" style="border-radius:18%;" src="/images/JokeProfilePic.jpg" alt="ProfilePicHere" />
        </div>
        <div class="col-md-4" style="padding:5%; padding-top:6%;">
            <img class="card-img" style="border-radius:10%;" src="/images/genericLogo.jpg" alt="CompanyLogoHere" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="height:400px;">
            <div id="map"></div>
        </div>
    </div>
    <script>
        foreach(var item in @Model.Addresses) {
            geocode(item);
            AddMarker();
        }
    </script>


</body>
@*@foreach (Listing item in Model)
{
    <details>
        <summary><h3>@item.ListingName</h3></summary>
        <h4>@item.Address.City</h4>
        <h4>@item.Address.State</h4>
        <h4>@item.Address.Zipcode</h4>
    </details>
}*@
@*<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Landlord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Landlord.LandlordId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DealActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DealActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSmoker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSmoker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailabilityDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailabilityDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LengthOfTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LengthOfTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilitiesIncluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilitiesIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodCreditRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodCreditRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amenities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.AddressId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SqareFootage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SqareFootage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ListingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
